<a href="https://colab.research.google.com/github/Nikhil-1503/Internship_assignment/blob/master/General_Regression_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r'https://github.com/YBI-Foundation/Dataset/raw/main/Fish.csv')

In [4]:
df.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [5]:
# Information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [6]:
# Summary Statistics
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [7]:
# Shape of dataframe
df.shape

(159, 8)

In [8]:
# Column names
df.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [9]:
# Defining y and x
y = df['Height']

In [10]:
y.shape

(159,)

In [11]:
y

0      11.5200
1      12.4800
2      12.3778
3      12.7300
4      12.4440
        ...
154     2.0904
155     2.4300
156     2.2770
157     2.8728
158     2.9322
Name: Height, Length: 159, dtype: float64

In [12]:
x = df[['Height', 'Width', 'Length1', 'Length2', 'Length3']]

In [13]:
x.shape

(159, 5)

In [14]:
x

      Height   Width  Length1  Length2  Length3
0    11.5200  4.0200     23.2     25.4     30.0
1    12.4800  4.3056     24.0     26.3     31.2
2    12.3778  4.6961     23.9     26.5     31.1
3    12.7300  4.4555     26.3     29.0     33.5
4    12.4440  5.1340     26.5     29.0     34.0
..       ...     ...      ...      ...      ...
154   2.0904  1.3936     11.5     12.2     13.4
155   2.4300  1.2690     11.7     12.4     13.5
156   2.2770  1.2558     12.1     13.0     13.8
157   2.8728  2.0672     13.2     14.3     15.2
158   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 5 columns]

In [15]:
# Train test split
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 2529)

In [17]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((111, 5), (48, 5), (111,), (48,))

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model = LinearRegression()

In [21]:
model.fit(x_train, y_train)

LinearRegression()

In [22]:
# Model Prediction
y_pred = model.predict(x_test)

In [23]:
y_pred.shape

(48,)

In [24]:
y_pred

array([14.1795,  9.485 ,  5.1376,  7.792 ,  5.856 ,  7.5344,  8.8768,
        7.1672,  8.778 ,  2.0832,  2.2044,  7.6156,  5.5225, 12.4313,
        6.2884,  6.561 , 15.438 ,  6.55  ,  7.29  ,  5.6358,  8.3922,
        4.1472,  6.396 , 11.1366, 18.084 ,  1.972 ,  8.568 , 16.8896,
       12.48  , 11.1366, 14.2266, 13.7592,  5.7078, 11.4884,  1.7284,
       12.5125, 11.73  ,  2.9322,  7.0866, 17.6235, 15.4686, 12.4888,
       15.9936, 10.6091, 10.03  ,  7.168 , 14.2628,  2.8728])

In [25]:
# Model evaluation
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [26]:
mean_squared_error(y_test, y_pred)

9.689225154882558e-30

In [27]:
mean_absolute_error(y_test, y_pred)

2.4933758761373306e-15

In [28]:
mean_absolute_percentage_error(y_test, y_pred)

4.4047318622186804e-16

In [29]:
r2_score(y_test, y_pred)

1.0

In [30]:
# Future predictions
df_new = df.sample(1)

In [31]:
df_new

     Category Species  Weight  Height   Width  Length1  Length2  Length3
149         6   Smelt     9.8  2.0832  1.2772     10.7     11.2     12.4

In [32]:
x_new = df_new[['Height', 'Width', 'Length1', 'Length2', 'Length3']]

In [33]:
x_new.shape

(1, 5)

In [34]:
y_pred_new = model.predict(x_new)

In [35]:
y_pred_new

array([2.0832])